<h1>You can find below a table which contain all of our books</h1>

<a class="btn btn-primary" href="#!/add-book">Add a Book</a>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>author</th>
        <th>summary</th>
        <th>N° of pages</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="book in books">
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.summary}}</td>
        <td>{{book.pages}}</td>
        <td><a href="#!/edit-book/{{book.id}}" class="btn btn-primary">Edit This book</a></td>
        <td><button class="btn btn-danger" ng-click="$parent.delete(book)">Delete </button></td>
        </td>
    </tr>
    </tbody>
</table>
